:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --main-color: #ffffff;
  --team-bg-color: #f5f4fa;
  --footer-text: rgba(255, 255, 255, 0.6);
  --footer-bg: #2f303a;
  --logo-color: #000000;
  --primary-font: Roboto, sans-serif;
  --second-font: Raleway, sans-serif;
}
body {
  color: var(--primary-text-color);
  background-color: var(--main-color);
  font-family: var(--primary-font);
  font-size: 14px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */
.header {
  border: 1px solid #ececec;
}
.container-nav {
  display: flex;
  align-items: center;
}
.logo {
  display: block;
  padding: 24px 0 25px 0;
  color: var(--logo-color);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-part {
  color: var(--accent-color);
}
.nav {
  display: flex;
}
.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-list .nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link,
.header-link {
  display: block;
  padding: 32px 0 32px 0;
  color: var(--second-text-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.current {
  color: var(--accent-color);
}
.header-list {
  display: flex;
  margin-left: auto;
}
.header-list .header-item + .header-item {
  margin-left: 50px;
}
.header-link {
  color: var(--primary-text-color);
}
.nav-link:hover,
.header-link:hover,
.address-link:hover,
.nav-link:focus,
.header-link:focus,
.address-link:focus {
  color: var(--accent-color);
}

/* hero */

.hero {
  padding: 195px 0 200px 0;
  text-align: center;
  background-color: var(--footer-bg);
}
.hero-title {
  margin-top: 0;
  margin-bottom: 33px;
  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
.hero-btn {
  display: inline-block;
  padding: 8px 32px;
  min-width: 200px;
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

/* Section benefits */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
}
.benefits-item {
  width: 270px;
}
.benefits-list .benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item-title {
  padding-bottom: 10px;
  color: var(--second-text-color);
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits-item-desc {
  color: var(--primary-text-color);
  line-height: calc(24 / 14);
}

/* Section works */
.works-list {
  display: flex;
  flex-wrap: wrap;
}
.works-list .works-item:not(:last-child) {
  margin-right: 30px;
}
.works-title,
.team-title {
  margin-bottom: 50px;
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
}

/* Section team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--team-bg-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-item {
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team-item:not(:last-child) {
  margin-right: 30px;
}
.team-content {
  text-align: center;
  padding: 30px 0 30px 0;
}
.team-name {
  margin-bottom: 10px;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
.team-prof {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}
/* footer */

.footer {
  padding: 60px 0 60px 0;
  background-color: var(--footer-bg);
}
.footer-logo {
  color: var(--main-color);
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-link-map {
  color: var(--main-color);
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.address-link {
  color: var(--footer-text);
  font-style: normal;
  font-weight: 400;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* portfolio */
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-btn-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portfolio-btn-list .portfolio-btn-item:not(:last-child) {
  margin-right: 6px;
}
.btn {
  padding: 6px 22px;
  color: var(--second-text-color);
  background-color: var(--team-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.btn:focus,
.btn:hover {
  color: var(--main-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.img-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.portfolio-subtitle {
  color: var(--second-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}
.portfolio-desc {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}
